<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MarveleduardofulgencioApi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>414008F41EAFD61300DDC720</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>414009081EAFD61300DDC720</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>414009131EAFD61300DDC720</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
